[Unit]
Description=BLTCHCK (service)

[Service]
Type=oneshot
ExecStartPre=bash -c '[ -z "$(bluetoothctl devices Connected)" ]'
ExecStart=bluetoothctl power off
ExecStartPost=systemctl --user stop bltchck.timer
