keybinds clear-defaults=true {
    normal {
        bind "Ctrl n" { GoToNextTab; }
        bind "Ctrl p" { GoToPreviousTab; }
        bind "Ctrl q" { Quit; }
        bind "Ctrl s" { Detach; }
        bind "Ctrl t" { NewTab; }
        bind "Ctrl w" { CloseTab; }
    }
}

ui {
    pane_frames {
        hide_session_name true
    }
}

on_force_close "quit"
pane_frames false
default_layout "tabbed"
mouse_mode false
