layout {
    pane {
        close_on_exit true
        command "nu"
        args "~/.config/scripts/update.nu" "dnf"
    }
    pane size=3 {
        close_on_exit true
        command "nu"
        args "~/.config/scripts/update.nu" "zellij"
    }
    pane size=3 {
        close_on_exit true
        command "nu"
        args "~/.config/scripts/update.nu" "java"
    }
    pane size=3 {
        close_on_exit true
        command "nu"
        args "~/.config/scripts/update.nu" "zig"
    }
}
