[user]
  name = ymcx
  email = <>

[color]
  ui = auto

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[core]
  editor = $EDITOR
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
