[user]
  name = ymcx
  email = <>

[core]
  editor = $EDITOR
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  syntax-theme = base16
  hunk-header-style =
  file-style = omit

[merge]
  conflictstyle = diff3
