window#waybar {
  background-color: #000000;
}

#workspaces button.active, #clock, #network, #bluetooth, #pulseaudio, #battery {
  color: #f2f2f2;
}

.modules-left, .modules-right {
  padding: 0 10px;
}

#workspaces button.active, #workspaces button {
  font-size: 7px;
  padding: 0;
  border: 0;
}

#workspaces button {
  color: #797979;
}

#clock {
  font-family: Cantarell;
  font-weight: bold;
  font-size: 15px;
}

#network, #bluetooth, #pulseaudio, #battery {
  font-size: 19px;
}

#network {
  padding: 0 13px;
}

#bluetooth {
  padding: 0 6px;
}

#pulseaudio {
  padding: 0 9px;
}

#battery {
  padding: 0 8px;
}

#battery.critical:not(.charging) {
  color: #cc0000;
}
