window#waybar {
  background-color: #000000;
}

#workspaces button.active,
#clock,
#language,
#network,
#bluetooth,
#pulseaudio,
#battery {
  color: #f2f2f2;
}

#workspaces button.active,
#workspaces button {
  font-size: 7px;
  padding: 0;
  border: 0;
}

#workspaces button {
  color: #797979;
}

#network,
#bluetooth,
#pulseaudio,
#battery {
  font-size: 19px;
}

#clock,
#language,
#battery.bat2 {
  font-family: Monospace;
  font-weight: Bold;
  font-size: 15px;
}

.modules-left {
  padding: 0px 10px 0px 10px;
}

.modules-right {
  padding: 0px 11px 0px 11px;
}

#clock {
  padding: 0px 0px 1px 0px;
}

#language {
  padding: 0px 17px 1px 17px;
}

#network {
  padding: 0px 14px 0px 14px;
}

#bluetooth {
  padding: 0px 6px 0px 6px;
}

#pulseaudio {
  padding: 0px 2px 0px 10px;
}

#battery {
  padding: 0px 0px 0px 17px;
}

#battery.bat2 {
  padding: 0px 2px 1px 2px;
}

#battery.critical:not(.charging) {
  color: #cc0000;
}