#input, window {
  background-color: #1e1e1e;
  font-family: Cantarell;
  font-size: 13;
  box-shadow: none;
  border: 0px;
  margin: 4px;
}

#img {
  margin: 4px;
}

#outer-box {
  border: 1px solid #2e2e2e;
}
